@import url("https://fonts.googleapis.com/css?family=Barriecito|Patrick+Hand&display=swap");
h1, h2, h3, h4, h5 {
  margin-top: .3em;
  margin-bottom: .3em;
  color: #000;
  font-family: "Barriecito", cursive;
}

p, li, a, label, button {
  margin-top: .5em;
  margin-bottom: .5em;
  color: #333232;
  font-family: "Patrick Hand", cursive;
}

input {
  font-family: "Patrick Hand", cursive;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

h4 {
  font-size: 1.5em;
  font-weight: 800;
}

h5 {
  font-size: 1.25em;
  font-weight: 900;
}

p, li, a {
  font-size: 1em;
}

a {
  font-weight: 900;
  color: #992893;
  text-decoration: none;
}

a:hover, a:active {
  color: #52244f;
  font-weight: 800;
}

button {
  background: #9de48c;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

#routes_top_container {
  width: 100%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.65)), to(rgba(255, 255, 255, 0.65))), url(../assets/bg_guest_landing.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url(../assets/bg_guest_landing.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #000;
}

#routes_top_container #header_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#routes_top_container #header_container header {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#routes_top_container #header_container header h2, #routes_top_container #header_container header h3 {
  text-align: center;
}

#routes_top_container #header_container header #site-tag {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5em;
  margin-bottom: .75em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#routes_top_container #header_container header #site-tag img {
  width: 100px;
}

#routes_top_container #header_container header #site-tag span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#routes_top_container #header_container header #loginlogout_loggedout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#routes_top_container #header_container header #loginlogout_loggedout span {
  margin-bottom: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#routes_top_container #header_container header #loginlogout_loggedin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#routes_top_container main {
  width: 100%;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#routes_top_container main .new_notification {
  display: inline-block;
  padding: .5em;
  color: #f5ff70;
  font-size: .5em;
  font-weight: 800;
  background: #3b3a3a;
  border-radius: 50%;
  position: relative;
  left: -25px;
  -webkit-transform: rotate(20deg) translateY(-10px);
          transform: rotate(20deg) translateY(-10px);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

#routes_top_container main img {
  width: 150px;
  margin-top: 1em;
  margin-bottom: 1em;
}

#routes_top_container main .dashboard {
  width: 100%;
  margin-top: .40em;
  margin-bottom: .40em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#routes_top_container main #guest_landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#routes_top_container main #guest_landing p {
  padding: 5px;
  color: #fff;
  line-height: 1.5em;
  background: rgba(0, 0, 0, 0.5);
}

#routes_top_container main #guest_landing .guest_site_desc {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

#routes_top_container main #guest_landing .guest_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#routes_top_container main #guest_landing .guest_info p {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#routes_top_container main #guest_landing .second_register_invite {
  margin-top: 2em;
  font-weight: 600;
}

#routes_top_container main #browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#routes_top_container main #browse .categories {
  margin-bottom: .5em;
  padding: .25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid;
  border-color: #8b8686;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

#routes_top_container main #browse .categories .category_item {
  text-align: center;
}

#routes_top_container main #browse .categories .category_item img {
  width: 90%;
  margin-top: 0;
  margin-bottom: 0;
}

#routes_top_container main .product_summary {
  margin-bottom: .5em;
  padding: .25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid;
  border-color: #8b8686;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#routes_top_container main .product_summary .img_container {
  width: 150px;
  margin-right: 1em;
  background: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#routes_top_container main .product_summary .item_info {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#routes_top_container main .product_summary .item_info button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
}

#routes_top_container main .barter_section {
  margin-bottom: .5em;
  padding: .25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid;
  border-color: #8b8686;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
}

#routes_top_container main .barter_section h3 {
  margin-bottom: .5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#routes_top_container main .barter_section span {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#routes_top_container main .barter_section label {
  width: 40%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

#routes_top_container main .barter_section input, #routes_top_container main .barter_section textarea {
  width: 60%;
}

#routes_top_container main .barter_section textarea {
  min-height: 125px;
}

#routes_top_container main .barter_section > button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#routes_top_container main .barter_section .select_barter_item {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#routes_top_container main .barter_section .select_barter_item p {
  width: 225px;
}

#routes_top_container main .offers_dashboard ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#routes_top_container main .offers_detail_section {
  width: 100%;
  padding-top: .5em;
  padding-left: 1em;
  padding-right: 1em;
  background: #fff;
}

#routes_top_container main .offers_detail {
  margin-bottom: .5em;
  padding: .25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid;
  border-color: #8b8686;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

#routes_top_container main .closed_offers .offer_closed {
  margin-bottom: .5em;
  padding: .25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid;
  border-color: #8b8686;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  background: #e0b3b3;
}

#routes_top_container main #inventory_dashboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#routes_top_container main .inventory_item {
  margin-bottom: .5em;
  padding: .25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid;
  border-color: #8b8686;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#routes_top_container main .input_form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#routes_top_container main .input_form h3 {
  margin-bottom: .5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#routes_top_container main .input_form span {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#routes_top_container main .input_form label {
  width: 40%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

#routes_top_container main .input_form input, #routes_top_container main .input_form textarea {
  width: 60%;
}

#routes_top_container main .input_form textarea {
  min-height: 125px;
}

#routes_top_container main #register_update_user {
  margin-bottom: .5em;
  padding: .25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid;
  border-color: #8b8686;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#routes_top_container main .footer_linked_component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#site_footer {
  width: 100%;
  padding: 1em 2.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#site_footer p {
  color: #000;
  font-weight: 800;
}

#site_footer div {
  width: 90%;
}

#site_footer div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#site_footer ul {
  width: 100%;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 800px) {
  h1, h2, h3, h4, h5 {
    margin-top: .5em;
    margin-bottom: .5em;
  }
  p, li, a, label, button {
    margin-top: .7em;
    margin-bottom: .7em;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.25em;
  }
  h4 {
    font-size: 1.75em;
  }
  h5 {
    font-size: 1.5em;
  }
  p, li, a {
    font-size: 1em;
  }
  #routes_top_container #header_container {
    width: 800px;
  }
  #routes_top_container #header_container header {
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #routes_top_container #header_container header #site-tag {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #routes_top_container #header_container header #site-tag h3 {
    margin-top: 0;
  }
  #routes_top_container main {
    width: 800px;
  }
  #routes_top_container main #guest_landing {
    width: 100%;
  }
  #routes_top_container main #guest_landing .guest_info_section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #routes_top_container main #register_update_user {
    width: 800px;
  }
  #routes_top_container main #browse {
    width: 800px;
  }
  #routes_top_container main .offers_container {
    width: 800px;
  }
  #routes_top_container main .offers_container .offers_detail_section {
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #routes_top_container main .offers_container .offers_detail_section span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #routes_top_container main .offers_container .offers_detail_section .offers_detail {
    width: 375px;
  }
  #routes_top_container main #inventory_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #routes_top_container main #inventory_container .inventory_item {
    width: 600px;
  }
  #routes_top_container main .update_inventory_submit_section {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #routes_top_container main .update_inventory_submit_section .update_inv_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #routes_top_container main #products_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #routes_top_container main #products_container .product_summary {
    width: 45%;
  }
  #site_footer {
    min-height: 20vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #site_footer > div {
    width: 500px;
  }
  #site_footer > ul {
    width: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #site_footer > ul li {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */